@import "@/assets/media-queries.scss";

$bg-image: url("@/assets/images/bg.jpg");

.splash {
    position: relative;
    background: $bg-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;

    .left-half,
    .right-half {
        flex: 1;
        background-image: $bg-image;
        background-repeat: no-repeat;
        background-size: 200% 100%;
        background-position-y: center;
        filter: brightness(50%);
    }

    .left-half {
        background-position-x: left;
    }

    .right-half {
        background-position-x: right;
    }

    .kalteng-logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.bg {
    overflow: hidden;
}

.photos {
    @include lt-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .gub-wagub {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 101;
        margin: 0 0 0rem -1rem;
        width: 350px;

        @include lt-sm {
            width: 200px;
        }
    }

    .kadis {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 101;
        margin: 0 -1rem 0rem 0rem;
        width: 350px;

        @include lt-sm {
            width: 200px;
        }
    }
}

.overlay {
    position: relative;
    background: $bg-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 1rem 0rem;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
}

.landing-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    .heading {
        display: flex;
        width: 450px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @include lt-sm {
            width: 250px;
        }

        img {
            width: 100%;

            @include lt-sm {
                width: 70%;
            }
        }

        h1 {
            color: #fff;
            font-size: 90px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.05em;

            i {
                font-size: 24px;
            }

            @include lt-sm {
                font-size: 50px;
            }
        }

        h5 {
            color: #fff;
            font-size: 15px;
            font-weight: 700;

            @include lt-sm {
                font-size: 10px;
            }
        }

        .homeContentEnterBtn {
            margin-top: 1rem;
            margin-bottom: 2rem;
            position: relative;
            text-decoration: none;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            max-width: 15rem;

            svg {
                width: 100%;

                @include lt-sm {
                    width: 80%;
                }
            }

            .homeContentEnterLabel {
                margin-top: -2.5em;
                -webkit-font-smoothing: antialiased;
                text-align: center;
                color: #fff;
                font-weight: 900;
                font-size: 12pt;

                @include lt-sm {
                    font-size: 10pt;
                }

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 1.5em;
                    width: 0.35em;
                    height: 0.35em;
                    border-radius: 0.5em;
                    background-color: #fdf2d3;

                    @include lt-sm {
                        display: none;
                    }
                }

                &::before {
                    left: 1.15em;
                }

                &::after {
                    right: 1.15em;
                }
            }
        }
    }

    .menus {
        padding: 3rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;

        a {
            text-decoration: none;
            display: flex;
            color: black;
            font-style: normal;
            font-weight: 700;
            width: 400px;
            padding: 0.5rem 5rem;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 20px;
            border: 1px solid #000;
            background: #b9cbea;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            &:hover {
                background: darken(#b9cbea, 10%);
            }
        }
    }
}

.new-menus {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 25rem;

    @include lt-sm {
        margin: 0.5rem;
    }

    a {
        position: relative;
        z-index: 100;
        color: white;
        text-decoration: none;
        font-family: Nunito;
        font-size: 12px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        @include lt-sm {
            padding: 0.5rem;
            font-size: 8px;
        }

        .circle {
            text-align: center;
            background-color: #fff;
            padding: 1rem;
            border-radius: 20rem;
            margin-bottom: 0.5rem;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            @include lt-sm {
                padding: 0.5rem;
            }

            img {
                width: 49px;

                @include lt-sm {
                    width: 30px;
                }
            }

            &:hover {
                background-color: darken($color: #fff, $amount: 15);
            }
        }

        p {
            max-width: 5.7rem;
            text-align: center;
        }
    }
}
